<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원 가입</title>
<script th:inline="javascript" th:src="@{/script/jquery-3.6.3.min.js}"></script>
<script th:inline="javascript" th:src="@{/script/check.js}"></script>
</head>
<body>
	<h1>[ SES Blog 회원 가입]</h1>
	
	<form th:action="@{/member/join}" method="POST" onsubmit="return validation();">
		<table>
			<tr>
				<th style="text-align:left; width:100px;">ID</th>
				<td><input type="text" id="blogid" name="blogid" placeholder="ID를 입력하세요"><span id="checkResult"></span></td>
			</tr>
			<tr>
				<th style="text-align:left;">비밀번호</th>
				<td><input type="password" id="blogpwd" name="blogpwd" placeholder="비밀번호를 입력하세요"></td>
			</tr>
			<tr>
				<th style="text-align:left;">이름</th>
				<td><input type="text" id="blogername" name="blogername" placeholder="이름을 입력하세요"></td>
			</tr>
			<tr>
				<th style="text-align:left;">사진 선택</th>
				<td>
				<input type="radio" name="photo" value="1" checked>
				<img th:src="@{/images/profile1.png}" style="width:100px; height:100px;">
				<input type="radio" name="photo" value="2">
				<img th:src="@{/images/profile2.png}" style="width:100px; height:100px;">
				<input type="radio" name="photo" value="3"> 
				<img th:src="@{/images/profile3.png}" style="width:100px; height:100px;">
				<input type="radio" name="photo" value="4">
				<img th:src="@{/images/profile4.png}" style="width:100px; height:100px;">
				</td>
			</tr>
		</table>

		<br>
		<input type="submit" value="가입">

	</form>
</body>
</html>