<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script th:inline="javascript" th:src="@{/script/jquery-3.6.3.min.js}"></script>
<script th:inline="javascript" th:src="@{/script/loginCheck.js}"></script>
</head>
<body>
	<h1>[ SES Blog 로그인]</h1>
	
	<div th:if="${param.error}" style="color:red;">ID, 비밀번호가 일치하지 않습니다.</div>
	
	<form th:action="@{/member/login}" method="POST" onsubmit="return validation();">
	
		<table>
			<tr>
				<th style="text-align:left; width:100px;">ID</th>
				<td><input type="text" id="blogid" name="blogid" placeholder="ID를 입력하세요"></td>
			</tr>
			<tr>
				<th style="text-align:left;">비밀번호</th>
				<td><input type="password" id="blogpwd" name="blogpwd" placeholder="비밀번호를 입력하세요"></td>
			</tr>
		</table>

		<br>
		<input type="submit" value="로그인">

	</form>
</body>
</html>