<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://www.thyemleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>[ SES BLOG ]</h1>
		<h2 sec:authorize="isAuthenticated()">[[${#authentication.name}]]님, 환영합니다!</h2>
	<ul>
		<li sec:authorize="not isAuthenticated()"><a href="#" th:href="@{/member/join}">회원가입</a></li>
		<li sec:authorize="not isAuthenticated()"><a href="#" th:href="@{/member/login}">로그인</a></li>
		<li sec:authorize="isAuthenticated()"><a href="#" th:href="@{/member/logout}">로그아웃</a>
		<li sec:authorize="isAuthenticated()"><a href="#" th:href="@{/member/info}">회원정보</a>
		<li><a href="#" th:href="@{/blog/userList}">블로그를 개설한 회원 목록 보기</a></li>
	</ul>
</body>
</html>